[user]
	name = Thomas Douillard
	email = thomas.douillard@gmail.com
[difftool]
	prompt = false
[diff]
	tool = gvimdiff
	external = git_diff_wrapper
[alias]
	d = difftool
[push]
	default = simple
[pager]
	  diff =
